{{#with view.model}}
  <td class="cantidad">
    {{#if view.alreadyPersisted}}
      {{cantidad}}
    {{else}}
      {{view Bandango.NumberField class="align_right small_padding form-control minimal_input" value=cantidad}}
    {{/if}}
  </td>
  <td class="descripcion">
    {{descripcion}}
    {{#unless view.alreadyPersisted}}
      <span class="glyphicon pull-right glyphicon-remove"></span>
    {{/unless}}
  </td>
  <td class="valor_unitario">
    {{number_to_currency valorUnitario}}
  </td>
  <td class="valor_total">
    {{number_to_currency valorTotal}}
  </td>
{{/with}}
