{{#with view.model}}
  <div class="imagen">
    <img src="{{unbound cliente.imagen_url_mini}}" class="profile_image mini">
  </div>
  <div class="info">
    <div class="title">{{comprobante.tipo}}</div>
    <div class="stronger">
      {{cliente.nombres}}
    </div>
    <div>
      {{cliente.tipoId}}:
      {{cliente.identificacion}}
    </div>
    <div class="before_chevron">{{humanize_time createdAt}}</div>
    <div class="top-right">{{numeroDeSerie}}</div>
  </div>
{{/with}}
