<ol class="breadcrumb">
  <li>
    {{link-to "Ventas" "ventas.index"}}
  </li>
  <li class="active">
    Nueva
  </li>
</ol>

<section class="form_section">
  <div class="section_header">
    Comprobante
  </div>
  <div class="section_body">
    {{partial "comprobantes/form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Cliente
    {{view Bandango.SpinnerView size="mini" show=view.isFetchingCliente}}
  </div>
  <div class="section_body">
    {{partial "clientes/form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Ítems
  </div>
  <div class="section_body">
    {{view Bandango.OrderItemsTableView includeForm=true}}
  </div>
</section>

<div class="row">
  <div class="col-xs-6 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-6 actions">
    {{link-to "Cancelar" "ventas.index" class="btn btn-link"}}
    <input type="submit" value="{{unbound view.submitButtonText}}" class="btn btn-primary" {{bind-attr disabled=view.submitting}}>
  </div>
</div>
