<ol class="breadcrumb">
  <li>
    {{link-to "Ventas" "ventas.index"}}
  </li>
  <li class="active">
    # {{id}}
  </li>
</ol>

{{partial "orderable/show"}}

<div class="actions">
  {{link-to "Editar" "ventas.edit" model class="btn btn-default"}}
  <button class="btn btn-success" {{action print target="view"}}>Imprimir</button>
</div>
