<ol class="breadcrumb">
  <li>
    {{link-to "Ventas" "ventas.index"}}
  </li>
  <li class="active">
    # {{id}}
  </li>
</ol>

<section class="form_section">
  <div class="section_header">
    Cliente
  </div>
  <div class="section_body">
    <div class="has_margin">
      {{#with cliente}}
        {{partial "clientes/show"}}
      {{/with}}
    </div>
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Ítems
  </div>
  <div class="section_body">
    {{view Bandango.OrderItemsTableView}}
  </div>
</section>

<div class="actions">
  {{link-to "Editar" "ventas.edit" model class="btn btn-default"}}
  <button class="btn btn-success">Imprimir</button>
</div>
