{{#with view.model}}
  <div class="imagen">
    <img src="{{unbound cliente.imagen_url_mini}}" class="profile_image mini">
  </div>
  <div class="info">
    <div>
      <span class="stronger">{{comprobante.tipo}}</span>
      {{numeroDeSerie}}
    </div>
    <div class="stronger">
      {{cliente.nombres}}
    </div>
    <div>
      {{cliente.tipoId}}:
      {{cliente.identificacion}}
    </div>
    <div class="before_chevron">
      {{humanize_time createdAt}}
    </div>
  </div>
{{/with}}
