<div class="row form-group">
  <div class="col-xs-3" {{bind-attr class=":col-xs-4 view.errors.tipoId"}}>
    {{view Ember.Select content=view.tiposIds class="form-control" value=view.tipoId}}
  </div>
  <div {{bind-attr class=":col-xs-9 view.errors.identificacion"}}>
    {{view Ember.TextField value=view.identificacion class="form-control identificacion_input" placeholder="Número de identificación"}}
  </div>
</div>

<div class="row">
  <div class="col-xs-3 align_right">
    <img {{bind-attr src=view.imagen_url_small}} class="profile_image small">
  </div>
  <div class="col-xs-9">
    <div {{bind-attr class=":form-group view.errors.nombres"}}>
      {{view Ember.TextField value=view.nombres class="form-control" placeholder="Nombres"}}
    </div>
    <div {{bind-attr class=":form-group view.errors.direccion"}}>
      {{view Ember.TextField value=view.direccion class="form-control" placeholder="Dirección"}}
    </div>
    <div {{bind-attr class=":form-group view.errors.telefono"}}>
      {{view Ember.TextField value=view.telefono type="tel" class="form-control" placeholder="Teléfono"}}
    </div>
    <div {{bind-attr class=":form-group view.errors.email"}}>
      {{view Ember.TextField value=view.email type="email" class="form-control" placeholder="Email"}}
    </div>
  </div>
</div>
