<ol class="breadcrumb">
  {{#if view.newRecord}}
    <li>
      {{link-to "Clientes" "clientes.index"}}
    </li>
    <li class="active">
      Nuevo
    </li>
  {{else}}
    <li>
      {{link-to "Clientes" "clientes.index"}}
    </li>
    <li>
      {{link-to view.nombres "clientes.show" view.model}}
    </li>
    <li class="active">
      Editar
    </li>
  {{/if}}
</ol>

{{partial "clientes/form"}}

<div class="row">
  <div class="col-xs-6 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-6 actions">
    {{#if view.newRecord}}
      {{link-to "Cancelar" "clientes.index" class="btn btn-link"}}
    {{else}}
      {{link-to "Cancelar" "clientes.show" view.model.id class="btn btn-link"}}
      {{#view Bandango.DeleteButtonView action="destroyCliente"}}Eliminar{{/view}}
    {{/if}}
    <input type="submit" value="{{unbound view.submitButtonText}}" class="btn btn-primary" {{bind-attr disabled=view.submitting}} />
  </div>
</div>
