<div class="align_center">
  <h3>Nuevo</h3>
</div>

<section class="form_section">
  <div class="section_body">
    <div class="row form-group">
      <div class="col-xs-4">
        {{view Ember.Select content=view.tiposIds class="form-control" value=tipoId}}
      </div>
      <div class="col-xs-8">
        {{view Ember.TextField value=view.identificacion class="form-control" placeholder="Número de identificación"}}
      </div>
    </div>
    <div class="form-group">
      {{view Ember.TextField value=view.nombres class="form-control" placeholder="Nombres"}}
    </div>
    <div class="form-group">
      {{view Ember.TextField value=view.direccion class="form-control" placeholder="Dirección"}}
    </div>
    <div class="row form-group">
      <div class="col-xs-6">
        {{view Ember.TextField value=view.telefono type="tel" class="form-control" placeholder="Teléfono"}}
      </div>
      <div class="col-xs-6">
        {{view Ember.TextField value=view.email type="email" class="form-control" placeholder="Email"}}
      </div>
    </div>
  </div>
</section>

<div class="actions">
  {{link-to "Cancelar" "clientes.index" class="btn btn-default"}}
  <input type="submit" value="Crear" class="btn btn-primary" {{bind-attr disabled=view.submitting}}>
</div>
