<div class="row">
  <div class="col-xs-6">
    <table class="default_table cash-denomination-table">
      <thead>
        <tr>
          <th>Monedas</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each coinDenominationItems}}
          {{view Bandango.CashDenominationItemRowView cashDenominationItem=this}}
        {{/each}}
        <tr class="row_divider stronger">
          <td>
            <span class="total-text">Total:</span>
            <span class="label label-info">{{number_to_currency coinTotalValue}}</span>
          </td>
          <td class="total-count">
            <span class="badge">{{coinCount}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="default_table cash-denomination-table">
      <thead>
        <tr>
          <th>Billetes</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {{#each billDenominationItems}}
          {{view Bandango.CashDenominationItemRowView cashDenominationItem=this}}
        {{/each}}
        <tr class="row_divider stronger">
          <td>
            <span class="total-text">Total:</span>
            <span class="label label-info">{{number_to_currency billTotalValue}}</span>
          </td>
          <td class="total-count">
            <span class="badge">{{billCount}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
