{{#if model.createdAt}}
  {{humanize_time model.createdAt format="long"}}
{{/if}}

<section class="form_section">
  <div class="section_header">
    Totales por forma de pago
  </div>
  <div class="section_body">
    {{partial "cierres_caja/totales"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Cuadre de efectivo
  </div>
  <div class="section_body">
    {{partial "cierres_caja/efectivo_form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Resumen de efectivo en caja
  </div>
  <div class="section_body">
    {{partial "cierres_caja/resumen_efectivo"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Cajero
  </div>
  <div class="section_body">
    {{#with model.user}}
      {{partial "users/show"}}
    {{/with}}
  </div>
</section>
