<div class="align_center">
  <h2>{{view.actionText}}</h2>
</div>

<ol class="breadcrumb">
  <li>
    {{link-to "Categorías" "categorias.index"}}
  </li>
  <li class="active">
    Nueva
  </li>
</ol>

<div class="form-group">
  {{view Ember.TextField value=view.nombre class="form-control" placeholder="Nombre" required="true"}}
</div>

<div class="row">
  <div class="col-xs-6 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-6 actions">
    {{link-to "Cancelar" "categorias.index" class="btn btn-link"}}
    <input type="submit" value="{{unbound view.submitButtonText}}" class="btn btn-primary" {{bind-attr disabled=view.submitting}} />
  </div>
</div>
