<div {{bind-attr class=":form-group view.errors.nombre"}}>
  {{view Ember.TextField value=view.nombre class="form-control" required="true" placeholder="Nombre"}}
</div>
<div {{bind-attr class=":form-group view.errors.descripcion"}}>
  {{view Ember.TextField value=view.descripcion class="form-control" placeholder="Descripción"}}
</div>
<div class="form-group row">
  <div class="col-xs-2 align_right">
    <span class="little_margin_top">Precio</span>
  </div>
  <div class="col-xs-5">
    <div {{bind-attr class=":input-group view.errors.baseVenta"}}>
      <span class="input-group-addon">
        {{view Ember.Checkbox checked=view.seVende name="se_vende"}}
        <label for="se_vende">Venta</label>
      </span>
      <span class="input-group-addon no_border_right">$</span>
      {{view Ember.TextField value=view.baseVenta class="form-control align_right" placeholder="9.99" enabled=view.seVende enabledProperty=true}}
    </div>
  </div>
  <div class="col-xs-5">
    <div {{bind-attr class=":input-group view.errors.baseCompra"}}>
      <span class="input-group-addon">
        {{view Ember.Checkbox checked=view.seCompra name="se_compra"}}
        <label for="se_compra">Compra</label>
      </span>
      <span class="input-group-addon no_border_right">$</span>
      {{view Ember.TextField value=view.baseCompra class="form-control align_right" placeholder="9.99" enabled=view.seCompra enabledProperty=true}}
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-2 align_right">
    <span class="little_margin_top">Impuestos</span>
  </div>
  <div class="col-xs-5">
    <div {{bind-attr class=":input-group view.errors.ivaTarifa"}}>
      <span class="input-group-addon">
        {{view Ember.Checkbox checked=view.iva name="iva"}}
        <label for="iva">IVA</label>
      </span>
      {{view Bandango.NumberField value=view.ivaTarifa class="form-control align_right" enabled=view.iva enabledProperty=true}}
      <span class="input-group-addon">
        %
      </span>
    </div>
  </div>
  <div class="col-xs-5">
    <div {{bind-attr class=":input-group view.errors.iceTarifa"}}>
      <span class="input-group-addon">
        {{view Ember.Checkbox checked=view.ice name="ice"}}
        <label for="ice">ICE</label>
      </span>
      {{view Bandango.NumberField value=view.iceTarifa class="form-control align_right" enabled=view.ice enabledProperty=true}}
      <span class="input-group-addon">
        %
      </span>
    </div>
  </div>
</div>
