<div class="align_center">
  <h2>Editar</h2>
</div>

<ol class="breadcrumb">
  <li>
    {{link-to "Categorías" "categorias.index"}}
  </li>
  <li>
    {{link-to model.category.nombre "items.index" model.category}}
  </li>
  <li>
    {{link-to model.nombre "items.show" model}}
  </li>
  <li class="active">
    Editar
  </li>
</ol>

{{partial "items/form"}}

<div class="row">
  <div class="col-xs-6 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-6 actions">
    {{link-to "Cancelar" "items.show" view.model class="btn btn-link"}}
    <input type="submit" value="Actualizar" class="btn btn-primary" {{bind-attr disabled=view.submitting}} />
  </div>
</div>
