<div class="align_center">
  <h2>Nuevo</h2>
</div>

<ol class="breadcrumb">
  <li>
    {{link-to "Categorías" "categorias.index"}}
  </li>
  <li>
    {{link-to controllers.items.nombre "items.index" controllers.items}}
  </li>
  <li class="active">
    Nuevo
  </li>
</ol>

{{partial "items/form"}}

<div class="row">
  <div class="col-xs-6 text-danger">
    {{array_with_lines view.errors_messages}}
  </div>
  <div class="col-xs-6 actions">
    {{link-to "Cancelar" "items.index" class="btn btn-link"}}
    <input type="submit" value="Crear" class="btn btn-primary" {{bind-attr disabled=view.submitting}} />
  </div>
</div>
