<h2>
  Ítem
</h2>

<ol class="breadcrumb">
  <li>
    {{link-to "Categorías" "categorias.index"}}
  </li>
  <li>
    {{link-to model.category.nombre "items.index" model.category}}
  </li>
  <li class="active">{{model.nombre}}</li>
</ol>

<div class="item">
  {{#with model}}
    <div class="nombre">
      {{nombre}}
    </div>
    <div class="descripcion">
      {{descripcion}}
    </div>
    <div class="row has_margin">
      <div class="col-xs-3">
        {{#if seVende}}
          <span class="price">{{number_to_currency baseVenta}}</span>
          <span class="label label-primary">venta</span>
        {{/if}}
      </div>
      <div class="col-xs-3">
        {{#if seCompra}}
          <span class="price">{{number_to_currency baseCompra}}</span>
          <span class="label label-success">compra</span>
        {{/if}}
      </div>
      <div class="col-xs-3">
        {{#if iva}}
          <span class="price">{{ivaTarifa}}%</span>
          <span class="label label-info">IVA</span>
        {{else}}
          Sin IVA
        {{/if}}
      </div>
      <div class="col-xs-3">
        {{#if ice}}
          <span class="price">{{iceTarifa}}%</span>
          <span class="label label-info">ICE</span>
        {{/if}}
      </div>
    </div>
  {{/with}}
</div>
<div class="actions">
  {{link-to "Editar" "items.edit" model.category model class="btn btn-default"}}
</div>

