<section class="form_section">
  <div class="section_header">
    Sustento Tributario
  </div>
  <div class="section_body">
    {{partial "sustento_tributario/form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Comprobante
  </div>
  <div class="section_body">
    {{partial "comprobantes/form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Cliente
    {{view Bandango.SpinnerView size="mini" show=view.isFetchingCliente}}
  </div>
  <div class="section_body">
    {{partial "clientes/form"}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Ítems
  </div>
  <div class="section_body">
    {{view Bandango.OrderItemsTableView includeForm=true}}
  </div>
</section>
<section class="form_section">
  <div class="section_header">
    Retención en la fuente de Impuesto a la Renta
  </div>
  <div class="section_body">
    {{partial "retencion_fuente/form"}}
  </div>
</section>
