<ol class="breadcrumb">
  <li>
    {{link-to "Compras" "compras.index"}}
  </li>
  <li class="active">{{numeroDeSerie}}</li>
</ol>

{{partial "orderable/show"}}

<div class="actions">
  {{link-to "Editar" "compras.edit" model class="btn btn-default"}}
  <button class="btn btn-success" {{action print target="view"}}>Imprimir</button>
</div>
