<div class="form-group">
  <select class="form-control retencion_fuente_select">
    {{#each view.conceptosRetencionFuente}}
      <option value="{{unbound id}}">
        {{unbound codigo}} - {{unbound concepto}}
        {{unbound porcentajeWithParenthesis}}
      </option>
    {{/each}}
  </select>
</div>

<div class="form-group row">
  <div class="col-xs-3">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      {{view Ember.TextField value=view.baseImponibleRenta class="form-control" placeholder="Base imponible"}}
    </div>
  </div>
  <div class="col-xs-3">
    <div class="input-group">
      {{view Ember.TextField value=view.porcentajeRetencionFuente class="form-control" placeholder="Retención"}}
      <span class="input-group-addon">%</span>
    </div>
  </div>
  <div class="col-xs-6">
    {{view Ember.TextField value=view.numeroAutorizacionRetencion class="form-control" placeholder="Número autorización de comprobante retención"}}
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4">
    <label for="retencion_establecimiento">Número de serie del comprobante de retención</label>
  </div>
  <div class="col-xs-8 form-inline form_numero_serie_comprobante_retencion align_right">
    <div class="form-group">
      {{view Ember.TextField value=view.numeroSerieRetencionEstablecimiento class="form-control" placeholder="Establecimiento" name="retencion_establecimiento"}}
    </div>
    -
    <div class="form-group">
      {{view Ember.TextField value=view.numeroSerieRetencionPuntoEmision class="form-control" placeholder="Punto emisión"}}
    </div>
    -
    <div class="form-group">
      {{view Ember.TextField value=view.numeroSerieRetencion class="form-control" placeholder="Número secuencial"}}
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-4">
    <label for="fecha_retencion">Fecha de emisión del comprobante de retención</label>
  </div>
  <div class="col-xs-8">
    {{view Ember.TextField value=view.fechaEmisionRetencion class="form-control" placeholder="DD/MM/AAAA" name="fecha_retencion"}}
  </div>
</div>
