<div class="row">
  <h1>Bandango</h1>
  {{#if Bandango.currentSession.loggedIn}}
    <div class="col-md-3 sidebar">
      {{view Bandango.CurrentUserResumeView}}
        <ul class="nav nav-pills nav-stacked">
          <li>{{link-to "Inicio" "dashboard"}}</li>
          <li>{{link-to "Facturas" "facturas"}}</li>
          <li>{{link-to "Clientes" "clientes"}}</li>
          <li>{{link-to "Usuarios" "users"}}</li>
          <li class="bandango_divider"></li>
          <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
  {{/if}}
  <div {{bind-attr class=":main_content Bandango.currentSession.loggedIn:col-md-9"}}>
    {{outlet}}
  </div>
</div>
