<div class="row">
  <h1>bandango</h1>
  {{#if Bandango.currentSession.loggedIn}}
    <div class="col-md-3 sidebar">
      {{view Bandango.CurrentUserResumeView}}
      <ul class="nav nav-pills nav-stacked">
        <li>{{link-to "Tablero" "dashboard"}}</li>
        <li>{{link-to "Ventas" "ventas"}}</li>
        <li>{{link-to "Compras" "compras"}}</li>
        <li>{{link-to "Cierres de caja" "cierre_caja"}}</li>
        <li>{{link-to "Clientes" "clientes"}}</li>
        <li>{{link-to "Productos" "categorias"}}</li>
        <li>{{link-to "Usuarios" "users"}}</li>
        <li>{{link-to "Preferencias" "preferencias"}}</li>
        <li class="bandango_divider"></li>
        <li><a href="/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  {{/if}}
  <div {{bind-attr class=":main_content Bandango.currentSession.loggedIn:col-md-9"}}>
    {{outlet}}
  </div>
</div>
